/*
Les fichiers styl se transformeront en un seul fichier css.
---
VEUILLEZ NE PAS MODIFIER CE FICHIER. MERCI.
*/

// Get all settings files
@require 'settings/*'
@require 'parts/*'
@require 'sections/*'

/*!
 * Temporaire.
 */
section {
    background-color: pink;
    margin: 20px 0;
    min-height: 100px;
}