body 
    overflow-x hidden
    background-color: rgb(30,30,30);

section
    &:hover
        h2
            color darken($color-white, 20%)
            border-left 5px solid darken($color-gold, 20%)
            border-bottom 1px solid darken($color-gold, 20%)

h2
    font-family $font-fancy
    color darken($color-white, 40%)
    transition all .3s ease-in-out
    margin-bottom 30px
    border-left 5px solid darken($color-gold, 40%)
    border-bottom 1px solid darken($color-gold, 40%)
    padding 5px 20px