#site-container > footer
    font-family $font-fancy
    background-color $color-black
    color $color-white

    .row > .col
        margin 10px 8px

    .logo
        fill lighten(#B9B9B9, 30%)
    
    h3
        color $color-gray
        font-size 1.5rem
        margin-top 8px
        padding-bottom 5px
        text-align center
        border-bottom 1px solid darken($color-gold, 30%)