// Fonts
$font-base := Arial
$font-fancy := "Poiret One"

// Colors
$color-gold := rgb(187, 178, 119)
$color-black := rgb(0, 0, 0)
$color-white := rgb(255, 255, 255)
$color-site-background := rgb(20, 20, 20)
$color-gray := lighten(#B9B9B9, 30%)