/*
Les fichiers styl se transformeront en un seul fichier css.
---
VEUILLEZ NE PAS MODIFIER CE FICHIER. MERCI.
*/
#site-container > footer {
  font-family: "Poiret One";
  background-color: #000;
  color: #fff;
}
#site-container > footer .row > .col {
  margin: 10px 8px;
}
#site-container > footer .logo {
  fill: #cecece;
}
#site-container > footer h3 {
  color: #cecece;
  font-size: 1.5rem;
  margin-top: 8px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid #8f8547;
}
#site-container > header {
  height: 50px;
  font-family: "Poiret One";
}
@media screen and (min-width: 768px) {
  #site-container > header {
    height: 80px;
  }
}
#site-container > header nav.navbar {
  background-color: #bbb277 !important;
}
@media screen and (min-width: 768px) {
  #site-container > header nav.navbar {
    font-size: 1.8rem;
  }
  #site-container > header nav.navbar ul li {
    margin: 0 10px;
  }
  #site-container > header nav.navbar ul li a {
    font-weight: normal;
    transition: all 0.3s;
  }
  #site-container > header nav.navbar ul li a:hover {
    font-weight: bold;
  }
}
#blog {
  background-color: #8f8547;
}
h1 {
  font-family: "Poiret One";
  font-size: 40px;
  color: #fff;
  padding-top: 20px;
}
h5 {
  font-family: $Arial;
  font-size: 18px;
  color: #000;
}
p {
  font-family: $Arial;
  font-size: 14px;
  color: #000;
  white-space: initial;
  text-overflow: fade;
}
.card-img-top {
  width: 100%;
  height: 45%;
  overflow: hidden;
}
.card-body {
  height: 8rem;
  overflow: hidden;
  padding-bottom: 50px;
}
.card-footer {
  padding: 8px;
}
.container-cards {
  background-color: #202020;
  margin-left: 40px;
}
.nav-link {
  color: #fff;
  margin-bottom: 20px;
}
.nav-pills .nav-link.active {
  background-color: #8f8547;
}
.hovereffect {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/*
 * Temporaire.
 */
section {
  background-color: #ffc0cb;
  margin: 20px 0;
  height: 700px;
}
