#blog{
    background-color: #202020;
}

h1{
    font-family $font-fancy
    font-size: 40px;
    color $color-white
    padding-top: 20px;
}

h5{
    font-family $Arial
    font-size: 18px;
    color $color-black;
}

p{
    font-family $Arial
    font-size: 14px;
    color $color-black;
    white-space: initial;
    text-overflow: fade;	

}

#blog a{
    color: white
}

.card-img-top{
    width: 100%;
    height: 45%;
    overflow: hidden;
}
    
.card-body{
    height : 8rem;
    overflow: hidden;
    padding-bottom: 50px;
}

.card-footer{
    padding: 8px;
}

.container-cards{
    background-color: #202020;
    margin-left: 40px;
    margin-right: 40px;
}

.nav-link{
    color : white;
    margin-bottom: 20px;
    border: 1px solid #8f8547;
    margin-left: 1rem;
    }

.nav-pills .nav-link.active{
    background-color : #8f8547;
}

.hovereffect{
    width:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}