/* style du carousel - bug cookers */
.container-fluid {
  padding: 0px;
  height: 100%;
}

/* logo */
.carousel-caption img {
  width: 80%;
}
.carousel-caption {
  bottom: 38%;
}

.carousel-control-next {
  z-index: 50;
}
.carousel-control-prev {
  z-index: 50;
}
.parallax {
  /* The image used */
  background-color: grey;

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
