#nos-burgers
    small {
        font-size: 16px;
    }

    .cont2 {
        background-color: black;
        }
    .marginTopCard{
        margin-top: 40px !important;
        padding-bottom: 40px !important;
        }
    .card{
        border: solid 1px #8f8547; 
    }
    .card-title {
        font-family: "Poiret One";
        }
    .card-body {
        background-color: rgb(254, 254, 226);
        font-family: "Arial";
        color: black;

        }
    .card-footer {
        background-color: black;
        color: #8f8547;
        }
    .priceBurgerAlone {
        float: right;
        margin-top: 0px;
        }
    .btn {
        background-color: black;
        font-family: "Poiret one";
        color: white !important;
        border-color: #8f8547;
        justify-items: center;
        }
    .buttonsCard{
        display: inline-flex;
        background-color:rgb(254, 254, 226);
        justify-content: center;
        }
    #titleNosBurgers {
        font-family: "Poiret One";
        font-size: 40px;
        border-bottom: solid 1px #8f8547;
        color: white;
        float: right;
        }
