//Début fomulaire

.cont1 {
  padding: 0;
  background-color: rgb(30,30,30);
}
.row {
  margin: auto;
}
.map {
  margin-top : 50px !important;
  }
.custom-select {
  border: solid 1px #8f8547;
  background-color: black !important;
  color: rgb(170, 170, 170) !important;
}
.nbpeople {
  margin-top: 10px;
  color: rgb(170, 170, 170) !important;
  font-family:"Arial";
}
.preferences {
  background-color: black !important;
  color: rgb(170, 170, 170) !important;
  font-family:"Arial";
  border: solid 1px #8f8547;
  margin-left: 15px;
  margin-right:15px;
  }
.phone {
  color: rgb(170, 170, 170) !important;
  font-family: "Arial";
  }
.name {
  margin-top: 60px;
  color: rgb(170, 170, 170) !important;
  font-family: "Arial";
  }

.borderForm {
  background-color: black !important;
  height: 38px;
  border: solid 1px #8f8547;
  border-radius: 3px;
  margin-top: 10px;
}
.preferences {
  margin-top: 10px;
}
#buttonMap {
  display: none;
}
#buttonResa {
  height :  60px;
  width: 150px;
  margin-top: 30px;
  border: solid 1px #8f8547;
  border-radius:  10px;
  font-size: 20px;
  font-family: "Poiret One";
  color: #8f8547;
  background-color: black;
  }
#buttonResa:hover {
  color: black;
  background-color: #8f8547;
  border: solid 1px black;
  }

#datetimepicker1{
  background-color: black;
  height: 38px;
  border: solid 1px #8f8547;
  border-radius: 3px;
  margin-top: 10px;
  color: rgb(170, 170, 170) !important;
  font-family: "Arial";
  }
#resa {
  text-decoration: underline;
  text-decoration-color: #8f8547;
  font-family: "Poiret One";
  font-size: 40px;
  color: white;
}

@media screen and (max-width: 767px) {
  .borderForm {
    height: 50px;
    margin-top: 10px;
  }
#buttonMap {
  height: 60px;
  width: 200px;
  border-radius: 5px;
  margin-top: 40px;
  display: initial;
  border: solid 1px #8f8547;
  border-radius:  10px;
  font-size: 20px;
  font-family: "Poiret One";
  color: #8f8547;
  background-color: black;
  }
  #datetimepicker1{
    height: 50px;
    margin-top: 10px;
    }
  .nbpeople {
    margin-top: 10px;
  }
  .map {
    display: none;
    margin-bot: 100px;
  }
 }





//Fin formulaire
